/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* sets the default refernce font size */
* {
    font-size: 18px;
}

body {
    background-color: #000000;
}

@layer base {
    h1 {
        @apply my-2 text-2xl text-yellow;
        border-bottom: 1px solid;
    }

    h2 {
        @apply my-2 text-xl text-teal;
    }

    h3 {
        @apply my-2 text-lg text-pink;
    }

    h4 {
        @apply my-2 text-base text-green;
    }

    h5 {
        @apply my-2 text-sm text-sapphire;
    }

    h6 {
        @apply my-2 text-xs text-red;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-playfair font-semibold;
    }

    ol {
        list-style-type: decimal;
        @apply px-12;
    }

    ul {
        list-style-type: disc;
        @apply px-12;
    }

    pre,
    code {
        @apply bg-[#0f0f1a] px-4 py-2 font-space-mono;
    }

    /* for icons */
    svg {
        height: 24px;
        width: 24px;
    }

    details {
        display: inline;
    }

    /* todo */
    input[type="checkbox"]:checked {
        accent-color: #b673af;
        color: white;
        background-color: #b673af;
        opacity: 1;
        height: 14px;
        width: 14px;
    }

    ::selection {
        @apply bg-teal text-bgColor;
    }

    .btn {
        @apply flex h-8 w-8 items-center justify-center rounded-md
            hover:bg-accent hover:text-black transition-all duration-500;
    }

    .text-xxs{
        font-size: 10px;
    }
}

@font-face {
    font-family: Lexend;
    src: url("./assets/fonts/Lexend-VariableFont_wght.ttf");
    text-wrap: nowrap;
    font-display: swap;
}

@font-face {
    font-family: "JetBrainsMono Nerd";
    src: url("./assets/fonts/JetBrainsMonoNerdFont-Regular.ttf");
    text-wrap: nowrap;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
    text-wrap: nowrap;
    font-display: swap;
}

@font-face {
    font-family: "Space Mono";
    src: url("./assets/fonts/SpaceMono-Regular.ttf");
    text-wrap: nowrap;
    font-display: swap;
}

@font-face {
    font-family: "Playfair";
    src: url("./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
    text-wrap: nowrap;
    font-display: swap;
}

@font-face {
    font-family: "Sourgummy";
    src: url("./assets/fonts/SourGummy-VariableFont_wdth.wght.ttf");
    text-wrap: nowrap;
    font-display: swap;
}
